body{
    background-color: whitesmoke;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 1em;
}

.main h2 {
    padding: 0.8em 0;
    font-weight: 600;
}